.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}



.w3-content, .w3-display-container {
    max-width: 300px;
    margin-top: 0px;
    margin-bottom: 11px;
    margin-left: 11px;

}


.Titel--servic--01{
    margin-left: 28vw;
font-size: 3rem;
}


.w3-display-bottommiddle {
    position: absolute;
    left: 150px;
    bottom: 45px;

    width: 300px;}

    .slider02-levantamentoPlanimetrico{
        display: grid;
        flex-direction: column-reverse;
        align-content: flex-end;
        justify-content: space-evenly;
    }